<div class="row">
	<div class="col-md-3">
		<%= search_form_for @search, url: job_postings_path, method: :get do |f| %>
			<%= f.label :title_cont, "Search" %>
			<%= f.text_field :title_or_department_name_cont %>
			<div class="actions"><%= f.submit "Search", class: 'btn btn-primary' %></div>
		<% end %>
	</div>
	<div class="col-md-9">
		<h1><%= @department.name %></h1>
		<table class="table table-striped">
		  <thead>
		    <tr>
		      <th>Title</th>
		      <th>Posted on</th>
		    </tr>
		  </thead>

		  <tbody>
				<% cache @department.job_postings do %>
		    	<% @department.job_postings.order('title ASC').each do |job_posting| %>
						<% cache job_posting do %>
			      <tr>
			        <td><%= link_to job_posting.title, '#', class: 'more-info', data: { job_posting_id: job_posting.id } %></td>
			        <td><%= job_posting.published.strftime('%D') %></td>
			      </tr>
						<% end -%>
			    <% end %>
				<% end -%>
		  </tbody>
		</table>
		<%= link_to 'All Postings', job_postings_path %>
	</div>
</div>