<div class="row">
	<div class="col-md-3">
		<%= search_form_for @search, url: job_postings_path, method: :get do |f| %>
			<%= f.label :title_cont, "Search" %>
			<%= f.text_field :title_or_department_name_cont %>
			<div class="actions"><%= f.submit "Search", class: 'btn btn-primary' %></div>
		<% end %>
	</div>
	<div class="col-md-9">
		<h1>Listing Job Postings</h1>
		<%= paginate @job_postings %>
		<table class="table table-striped">
		  <thead>
		    <tr>
		      <th><%= sort_link(@search, :title, "Title") %></th>
		      <th>Posted on</th>
		      <th><%= sort_link(@search, :department_name, "Department") %></th>
		    </tr>
		  </thead>

		  <tbody>
				<% cache @job_postings do %>
		    	<% @job_postings.each do |job_posting| %>
						<% cache job_posting do %>
			      <tr>
			        <td><%= link_to job_posting.title, '#', class: 'more-info', data: { job_posting_id: job_posting.id } %></td>
			        <td><%= job_posting.published.strftime('%m-%d-%Y') %></td>
			        <td><%= link_to job_posting.department.name, job_posting.department %></td>
			      </tr>
						<% end -%>
			    <% end %>
				<% end -%>
		  </tbody>
		</table>
		<%= paginate @job_postings %>
	</div>
</div>